.finance
  .span12
    .aside
      %section
        %h1.span2 Financing
      %section
        %p
          Lorem ipsum.
    %iframe.offset2{:src => "uploads/docs/rural_land_and_owner_financing_s.pdf", :width => "700px"}
  / .row.container
  /   %p.span2
  /     = "Hello World!"
    
  /   %p
  /     Your browser does not support iframes. Fear not though, I've got a backup copy righ here for you.
  /   %p
  /     %button.btn.btn-large
  /       = link_to "Download .PDF", root_path
