- model_class = Listing
.page-header
.row
  %h1=t '.title', :default => model_class.model_name.human.pluralize
  = link_to t('.new', :default => t("helpers.links.new")), new_listing_path, :class => 'btn btn-primary pull-right'
.row
  .span4
    %p= "Hello world!"
  
  .span8
    %table.table.table-striped
      %tbody
        = render @listings
    = paginate @listings, :remote => true
